* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mainNav {
  gap: 200px !important;
}

.banner {
  margin-top: 150px;
}
.banner-img {
  margin-top: -60px;
  width: 40%;
}
.text-nav,
.card {
  transition: 0.2s !important;
}
.text-nav:hover {
  border-bottom: 0.2em red solid !important;
}

.scroll-card {
  min-width: 13rem !important;
  transition: 0.2s !important;
  cursor: pointer;
}

.scroll-card:hover {
  transform: scale(1.05) !important;
  border-bottom: 0.2em black solid !important;
}

.carousel-container {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.scroll-card {
  transition: 0.2s;
  cursor: pointer;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(150, 148, 148, 0.5);
  color: white;
  font-size: 1rem;
  padding: 0.4rem;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.carousel-btn.left {
  left: -1rem;
}

.carousel-btn.right {
  right: -1rem;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.card-img {
  border-top: 0.1em red solid;
  transition: 0.3s;
}

.card-img:hover {
  background: #c25555 !important;
  transform: scale(1.1, 1.1);
}

.imgDetalis {
  width: 35%;
}

.bg-details {
  background: rgb(255, 255, 168);
}
@media screen and (max-width: 779px) {
  .mainNav {
    align-items: center;
    gap: 4em !important;
  }
  .banner {
    margin-top: 3em;
  }
  .banner-img {
    width: 40%;
    object-fit: cover;
  }
}
@media screen and (max-width: 556px) {
  .mainNav {
    justify-content: space-evenly;
  }
  .routs-nav {
    flex-direction: column !important;
  }
  .banner {
    margin-top: 3em !important;
    gap: 0em !important;
  }
}
@media screen and (max-width: 420px) {
  .banner-img {
    width: 30%;
    object-fit: cover;
    /* margin-top: 0.2em; */
  }
  .text-nav {
    font-size: 6px !important;
  }
  .btnCard {
    flex-direction: column !important;
    align-items: center !important;
  }
}
